Tạo hàm truy vấn tên trường, các loại hình liên lạc của trường thông qua id

In [4]:
CREATE FUNCTION get_school_info(@School_ID INT)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        cps.School_ID,
        cps.Name_of_School,
        'Chiago' as City, 
        'IL' as State,
        a.ZIP_Code, 
        a.Street_Adress,
        c.Phone_Number, 
        c.Link
    FROM dbo.tbl_CHICAGO_PUBLIC_SCHOOLS cps 
    JOIN dbo.tbl_Address a ON cps.School_ID = a.School_ID
    JOIN dbo.tbl_Contact c ON cps.School_ID = c.School_ID
    WHERE cps.School_ID = @School_ID

);

: Msg 2714, Level 16, State 3, Procedure get_school_info, Line 1
There is already an object named 'get_school_info' in the database.

In [6]:
SELECT * FROM get_school_info(609674)

School_ID,Name_of_School,City,State,ZIP_Code,Street_Adress,Phone_Number,Link
609674,Chicago Vocational Career Academy High School,Chiago,IL,60617,2100 E 87th St,(773) 535-6100,http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609674.pdf