Đặt cột School\_ID làm khóa chính

In [ ]:
ALTER TABLE dbo.tbl_CHICAGO_PUBLIC_SCHOOLS
ALTER COLUMN School_ID INT NOT NULL

ALTER TABLE dbo.tbl_CHICAGO_PUBLIC_SCHOOLS
ADD CONSTRAINT PK_School_ID PRIMARY KEY (School_ID)

Xử lý các cột 
+ Xóa cột nội suy (*Derived column*): `location` (nội suy từ `latitude` và `longitude`) 
+ Xóa và đặt biến tạm cho cột có một giá trị duy nhất (*Constant column*) cho tất cả các hàng : `City` và `State`

In [ ]:
-- Drop derived column [location] (derived from latitude and longitude )
ALTER TABLE dbo.tbl_CHICAGO_PUBLIC_SCHOOLSSchool_Type
DROP COLUMN location;

In [ ]:
-- Drop [city] column (has only value 'Chicago') and create a var @city to save it 
ALTER TABLE dbo.tbl_CHICAGO_PUBLIC_SCHOOLS
DROP COLUMN city;

DECLARE @city VARCHAR(10);
SET @city = 'Chicago'
PRINT @city

In [ ]:
-- Drop [state] column (has only value 'IL') and create a var @state to save it
ALTER TABLE dbo.tbl_CHICAGO_PUBLIC_SCHOOLS
DROP COLUMN state;

DECLARE @state VARCHAR(2);
SET @state = 'IL'
PRINT @state

In [ ]:
-- Drop [RCDTS_Code] column (has only value '150000000000000') and create a var @RCDTS to save it
ALTER TABLE dbo.tbl_CHICAGO_PUBLIC_SCHOOLS
DROP COLUMN RCDTS_Code;

DECLARE @RCDTS VARCHAR(15);
SET @RCDTS = '150000000000000'