In [1]:
import pyodbc
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# Read password from file
f= open('../../../password.txt','r')
pw = f.read()
f.close()

#ODBC (Includes Node.js) (SQL authentication)
s = "Driver={ODBC Driver 18 for SQL Server};Server=tcp:serverz.database.windows.net,1433;Database=DB_LAB03;Uid=tendangnhap;"+f"Pwd={pw};"+"Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;"

In [4]:
## Connect to the database
conn = pyodbc.connect(s)
cursor = conn.cursor()

In [5]:
#Show all tables
cursor.execute("SELECT * FROM INFORMATION_SCHEMA.TABLES")
tables = cursor.fetchall()
for table in tables:
    print(table)

('DB_LAB03', 'dbo', 'tbl_Student_Performance', 'BASE TABLE')
('DB_LAB03', 'dbo', 'tbl_CHICAGO_PUBLIC_SCHOOLS', 'BASE TABLE')
('DB_LAB03', 'dbo', 'tbl_Address', 'BASE TABLE')
('DB_LAB03', 'dbo', 'tbl_Contact', 'BASE TABLE')
('DB_LAB03', 'dbo', 'tbl_Demographics', 'BASE TABLE')
('DB_LAB03', 'dbo', 'tbl_Family_Engagement_Environment', 'BASE TABLE')
('DB_LAB03', 'dbo', 'tbl_ISAT', 'BASE TABLE')
('DB_LAB03', 'sys', 'database_firewall_rules', 'VIEW')
('DB_LAB03', 'dbo', 'sysdiagrams', 'BASE TABLE')
('DB_LAB03', 'dbo', 'tbl_Teachers', 'BASE TABLE')
('DB_LAB03', 'dbo', 'tbl_Leaders', 'BASE TABLE')
('DB_LAB03', 'dbo', 'tbl_Instruction', 'BASE TABLE')
('DB_LAB03', 'dbo', 'tbl_School_Survey', 'BASE TABLE')
('DB_LAB03', 'dbo', 'tbl_Academic_Performance', 'BASE TABLE')
('DB_LAB03', 'dbo', 'tbl_Graduation_Enrollment', 'BASE TABLE')

In [7]:
for table in tables :
    print(table[2])

tbl_Student_Performance
tbl_CHICAGO_PUBLIC_SCHOOLS
tbl_Address
tbl_Contact
tbl_Demographics
tbl_Family_Engagement_Environment
tbl_ISAT
database_firewall_rules
sysdiagrams
tbl_Teachers
tbl_Leaders
tbl_Instruction
tbl_School_Survey
tbl_Academic_Performance
tbl_Graduation_Enrollment

In [11]:
# Export to csv (table[2] is the table name)
for table in tables:
    try:
        cursor.execute(f"SELECT * FROM dbo.{table[2]}")
        rows = cursor.fetchall()
        columns = [column[0] for column in cursor.description]
        df = pd.DataFrame.from_records(rows, columns=columns)
        df.to_csv(f"{table[2]}.csv", index=False)
    except:
        continue